body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0 auto;
  height: 100vh;
  background-size: cover;
  transition: background-image 1s ease-in-out;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
}

.navigation {
  margin-top: 150px;
  margin-bottom: 40px;
}

#datetime-picker {
  width: 272px;
  height: 40px;
  margin-left: 8px;
  border-radius: 8px;
  background: #fff;
  border: 1px solid #808080;
  padding: 8px 16px;
  color: #2e2f42;
  outline: none;
}

input:hover {
  border: 1px solid #000;
}

input:active,
input:focus {
  border: 1px solid #4e75ff;
  outline: none;
}

input:disabled {
  color: #808080;
}

.timer {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.field {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 20px;
  width: 76px;
  height: 72px;
  background-color: #fff;
  border-radius: 10px;
  padding: 8px;
}

.value {
  font-size: 30px;
  font-weight: bold;
}

button {
  margin-top: 10px;
  cursor: pointer;
  border-radius: 8px;
  padding: 8px 16px;
  min-width: 75px;
  height: 40px;
  color: #fff;
  background: #4e75ff;
  border: none;
}

button:disabled {
  background: #cfcfcf;
  color: #989898;
}

button:hover {
  background: #6c8cff;
}

.flatpickr-calendar.animate.open {
  background: #f5f5f5;
}

.flatpickr-day.today {
  border-radius: 100%;
  stroke-width: 1px;
  border-color: #4e75ff;
}


.flatpickr-day:hover {
  fill: #c1c1c1;
}

.flatpickr-day::selection {
  color: #fff;
  fill: #4e75ff;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 360px;
  background-color: rgba(169, 169, 169, 0.7);

}

form>label {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  margin-bottom: 8px;
}

form>label>input {
  border-radius: 4px;
  border: 1px solid #808080;
  height: 40px;
  padding-block: 8px;
  padding-inline: 16px;
  font-size: 16px;
  width: 326px;

}

fieldset {
  width: 332px;
  display: flex;
  border: 1px solid #fff;
  border-radius: 4px;
  gap: 12px;
}


fieldset:hover,
fieldset:active {
  border: 1px solid #000;
}

fieldset>legend {
  text-align: left;
  margin-left: 16px;
}

fieldset>label {
  margin-left: 36px;
}